@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: #fefefe;
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background: #11101b;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #fefefe;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  margin: 0 5px;
  padding: 10px 25px;
  border-radius: 50px;
  color: #fefefe;
  font-size: 20px;
  transition: .2s;
}

.nav-bar ul li a:hover {
  background: #fefefe;
  color: #11101b;
}

.nav-bar ul li a.active {
  background: #fefefe;
  color: #11101b;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    height: 3px;
    width: 30px;
    margin: 6px 0;
    background: #fefefe;
  }

  .nav-bar {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: 0;
    width: 100vw;
    background: #11101b;
    transition: .5s;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 450px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: .5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}